# Penarikan Kesimpulan dan Pengujian Hipotesis
 Diberikan sebuah dataset water_portability.csv yang merupakan data metrik kualitas air
 yang mengandung 11 kolom sebagai berikut:
 1. id
 2. pH
 3. Hardness
 4. Solids
 5. Chloromines
 6. Sulfate
 7. Conductivity
 8. OrganicCarbon
 9. Trihalometanes
 10. Turbidity
 11. Potability  

Kolom 2-10 adalah kolom atribut (non-targer), sedangkan kolom 11 adalah kolom target.

In [5]:
# Soal 1
'''
Menulis deskripsi statistika (Descriptive Statistics) dari semua kolom pada data yang bersifat
numerik, terdiri dari mean, median, modus, standar deviasi, variansi, range, nilai minimum,
maksimum, kuartil, IQR, skewness dan kurtosis. Boleh juga ditambahkan deskripsi lain. 
'''
def nomor1(nama):
    import pandas as pd
    # membuka file csv
    # menamakan kolom
    # df.columns = ['id','Daerah','SumbuUtama','SumbuKecil','Keunikan','AreaBulatan','Diameter','KadarAir','Keliling','Bulatan','Ransum','Kelas']
    df = pd.read_csv("water_potability.csv", names=["id", "pH","Hardness","Solids","Chrolomines","Sulfate","Conductivity","OrganicCarbon","Trihalometanes","Turbidity","Potability"])

    df1 = df[nama]
    dic = {'mean':df1.mean(),'median':df1.median(),'modus':df1.mode().values,
          'standar deviasi':df1.std(), 'variansi':df1.var(),
           'range':df1.max()-df1.min(), 'minimum':df1.min(), 
           'maksimum':df1.max(),'kuartil 1':df1.quantile(0.25),
           'kuartil 2':df1.quantile(0.5),'kuartil 3':df1.quantile(0.75), 
           'IQR':df1.quantile(0.75) - df1.quantile(0.25), 'skewness':df1.skew(),
           'kurtosis':df1.kurtosis()
          }
    dic_list = list(dic.items())

    new_df = pd.DataFrame.from_dict(dic_list)
    return new_df.style.set_table_attributes("style='display:inline'").set_caption('Deskripsi Statistik '+nama)

In [6]:
# Deskripsi Statistika pH
nomor1('pH')

In [7]:
# Deskripsi Statistika Hardness
nomor1('Hardness')

In [8]:
# Deskripsi Statistika Solids
nomor1('Solids')

In [9]:
# Deskripsi Statistika Chrolomines
nomor1('Chrolomines')

In [10]:
# Deskripsi Statistika Sulfate
nomor1('Sulfate')

In [11]:
# Deskripsi Statistika Conductivity
nomor1('Conductivity')

In [12]:
# Deskripsi Statistika OrganicCarbon
nomor1('OrganicCarbon')

In [13]:
# Deskripsi Statistika Trihalometanes
nomor1('Trihalometanes')

In [14]:
# Deskripsi Statistika Turbidity
nomor1('Turbidity')

In [15]:
# Deskripsi Statistika Potability
nomor1('Potability')